<div class="card product-card">
  <div class="product-image--wrap">
    <img [src]="product.image" class="product-image" [alt]="product.title">
  </div>

  <div class="card-body d-flex flex-column d-flex-grow-1">
    <div class="card-body-header">
      <h6 class="card-title mb-2">{{ product.title | slice:0:25 }}<span *ngIf="product.title.length > 25">...</span>
      </h6>
      <p class="card-text text-muted">{{ product.description | slice:0:120 }}<span
          *ngIf="product.description.length > 120">...</span></p>
    </div>

    <div class="card-body-content">
      <div class="product-meta">
        <span class="product-price">{{ product.price | currency: 'BRL' }}</span>
        <span class="badge-rating">⭐ {{ product.rating.rate }}/5</span>
      </div>

      <div class="d-grid gap-2">
        <a [routerLink]="['/product', product.id]" class="btn btn-outline-primary">
          Ver Detalhes
        </a>
        <button class="btn btn-primary d-flex align-items-center justify-content-center gap-2" (click)="addToCart()">
          <i class="bi bi-cart-plus"></i>
          Adicionar ao Carrinho
        </button>
      </div>
    </div>
  </div>
</div>
